<script setup lang="ts">

import StopsPlaceholder from "@/components/placeholders/stops-placeholder.vue";
import LinesPlaceholder from "@/components/placeholders/lines-placeholder.vue";
</script>

<template>
  <div class="row placeholders-container">
    <div class="col-12 col-md-6">
      <LinesPlaceholder  class="line-details"/>
    </div>
    <div class="col-12 col-md-6">
      <StopsPlaceholder class="stop-departures"/>
    </div>
  </div>
</template>

<style scoped>
.line-details,
.stop-departures {
  height: 100%
}
.placeholders-container {
  height: 100%;
}
</style>
