<template>
  <div class="card d-flex justify-content-center align-items-center placeholder-component">
    <slot/>
  </div>
</template>
<style scoped>
.card {
  border: unset;
}
.placeholder-component {
  background: linear-gradient(#ffffff, #ffffff) 50% 50%/calc(100% - 6px) calc(100% - 6px) no-repeat,
    repeating-linear-gradient(45deg, #a1a1a1 1%, #a1a1a1 4%, #ffffff 4%, #ffffff 7%);
  border-radius: 3px;
  padding: 13px;
  box-sizing: border-box;
}
</style>
