<template>
  <placeholder-component>
    Please select a stop
  </placeholder-component>
</template>
<script setup lang="ts">
import PlaceholderComponent from "@/components/placeholders/placeholder-component.vue";
</script>