<script setup lang="ts"></script>

<template>
  <div>
    <div class="card border-light">
      <div class="card-header bg-white p-0 sticky-top">
        <slot name="header" class="p-4 pb-2"/>
        <slot name="toggler" class="p-4"/>
      </div>
      <slot name="content"/>
    </div>
  </div>
</template>

<style scoped>

</style>
