<script setup lang="ts">
import { useRoute } from "vue-router";
import { useStore } from "vuex";
import { computed } from "vue";
import HeaderContainer from "@/components/header-container.vue";
import ListContainer from "@/components/list/list-container.vue";

const route = useRoute()
const { getters } = useStore()
const selectedStop = computed(() => getters['lines'][route.params.lineId as string][route.params.stopId as string].name)
const selectedStopTimes = computed(() => getters['lines'][route.params.lineId as string][route.params.stopId as string].times.filter((el: unknown) => el))
</script>

<template>
  <list-container>
    <template #header>
      <header-container class="p-4 pb-2">
        Bus Stop: {{ selectedStop }}
      </header-container>
    </template>
    <template #toggler>
      <div class="p-4">
        <div class="d-flex justify-content-start">
          <span>Time</span>
        </div>
      </div>
    </template>
    <template #content>
      <ul class="bus-line-stops-list list-group list-group-flush">
        <template v-for="(time, index) in selectedStopTimes" :key="`${time}-${index}`">
          <li class="pt-4 pb-4 ps-4 list-group-item list-group-item-action">
              {{ time }}
          </li>
        </template>
      </ul>
    </template>
  </list-container>
</template>
