<template>
  <div class="card border-light bg-light mt-3">
    <div class="p-3 card-header bg-white">
      <header-container>Select Bus Line</header-container>
      <ul v-if="!fetching && lines.length !== 0" class="lines-list">
        <template v-for="line in lines" :key="line">
          <li>
            <RouterLink :to="{ name: 'bus-line-stops', params: { lineId: line } }">
              <button class="btn btn-primary m-1">{{ line }}</button>
            </RouterLink>
          </li>
        </template>
      </ul>
      <ul v-if="fetching">
        <li class="btn btn-primary disabled m-1 placeholder col-1"></li>
        <li class="btn btn-primary disabled m-1 placeholder col-1"></li>
        <li class="btn btn-primary disabled m-1 placeholder col-1"></li>
      </ul>
    </div>
  </div>
  <div class="pt-3 flex-grow-1 data-container">
    <router-view v-if="!fetching && selectedLine && lines.length !== 0"></router-view>
    <div v-else-if="lines.length === 0"> No Bus stops available to select</div>
    <BothPlaceholder v-else/>
  </div>
</template>
<script setup lang="ts">
import { computed } from 'vue';
import { useRoute } from 'vue-router';
import { useStore } from 'vuex';
import BothPlaceholder from "@/components/placeholders/both-placeholder.vue";
import HeaderContainer from "@/components/header-container.vue";

const route = useRoute()
const { getters } = useStore()
const lines = computed(() => Object.keys(getters['lines']))
const fetching = computed(() => getters['fetchingState'] === 'fetching')
const selectedLine = computed(() => route.params.lineId)

</script>

<style scoped>
.lines-list {
  padding-left: 0.5rem;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
}

.card.border-light .card-header {
  border: unset;
}
.data-container {
  height: 100%;
  max-height: 64%;
}
</style>
