<script setup lang="ts">
import { computed, ref, watch } from 'vue';
import { useRoute } from 'vue-router';
import { useStore } from 'vuex';
import StopsPlaceholder from "@/components/placeholders/stops-placeholder.vue";
import LinesPlaceholder from "@/components/placeholders/lines-placeholder.vue";
import HeaderContainer from "@/components/header-container.vue";
import TogglerComponent from "@/components/toggler/toggler-component.vue";
import ListContainer from "@/components/list/list-container.vue";

const { getters } = useStore()
const route = useRoute()
const lineId = computed(() => `${route.params.lineId}`)
const lineStops = computed(() => {
    if (sortOrder.value === 1) {
        return getters['lines'][lineId.value]
    }
    return getters['lines'][lineId.value].toReversed()
})
const sortOrder = ref(1)
watch(lineId, () => {
    sortOrder.value = 1
})
const selectedLine = computed(() => route.params.lineId)
const selectedStop = computed(() => route.params.stopId)

</script>
<template>
  <div class="row" style="height: 100%;">
    <list-container v-if="selectedLine" class="col-12 col-md-6 line-details">
      <template #header>
        <header-container class="p-4 pb-2">
          Bus Line: {{ lineId }}
        </header-container>
      </template>
      <template #toggler>
        <toggler-component v-model="sortOrder" class="p-4"/>
      </template>
      <template #content>
        <ul class="bus-line-stops-list list-group list-group-flush">
          <template v-for="(stop, index) in lineStops" :key="`${stop.name}-${index}`">
            <li class="pt-4 pb-4 ps-4 list-group-item list-group-item-action">
              <RouterLink
                  :to="{
                       name: 'bus-line-stop-times',
                       params: { lineId: lineId, stopId: sortOrder === 1 ? index : lineStops.length - 1 - index }
                    }"
                  class="stretched-link">
                {{ stop.name }}
              </RouterLink>
            </li>
          </template>
        </ul>
      </template>
    </list-container>
    <div v-else class="col-12 col-md-6">
      <LinesPlaceholder class="line-details"/>
    </div>
    <router-view v-if="selectedStop" class="col-12 col-md-6 stop-departures"></router-view>
    <div v-else class="col-12 col-md-6">
      <StopsPlaceholder class="stop-departures"/>
    </div>
  </div>
</template>
<style>
.line-details,
.stop-departures {
  height: 100%;
}
.line-details .card,
.stop-departures .card {
  height: 100%;
}

.bus-line-stops-list {
  max-height: 100%;
  height: 100%;
  overflow: auto;
  list-style: none;
}

.bus-line-stops-list:last-child {
  border-width: 0 0 var(--bs-list-group-border-width) 0;
  border-radius: 0;
}
</style>
