<template>
    <list-container class="pt-3">
      <template #header>
        <header-container class="p-4 pb-2 col-4">
          <div class="input-group">
            <input
                v-model="searchPhrase"
                type="search"
                class="form-control"
                placeholder="Search..."
                :disabled="fetchingState === 'fetching'"
            />
            <span class="input-group-text">
              🔍
            </span>
          </div>
        </header-container>
      </template>
        <template #toggler>
          <toggler-component v-model="sortOrder" class="p-4"/>
        </template>
      <template #content>
        <ul class="list-group list-group-flush">
          <template v-for="(stop, index) in stops" :key="`${stop}-${index}`">
            <li class="pt-4 pb-4 ps-4 list-group-item list-group-item-action">
                {{ stop }}
            </li>
          </template>
        </ul>
      </template>
    </list-container>
</template>
<script setup lang="ts">
import ListContainer from "@/components/list/list-container.vue";
import TogglerComponent from "@/components/toggler/toggler-component.vue";
import HeaderContainer from "@/components/header-container.vue";

import { computed, ref } from 'vue';

import { useStore } from 'vuex';
import { StopId, Stops } from "@/types/stop";
import { useDebouncedRef } from "@/helpers/debounced-ref";

const { getters } = useStore()

const fetchingState = computed(() => getters['fetchingState'])

const sortOrder = ref(1)

const searchPhrase = useDebouncedRef('')

const stops = computed<Stops>(() => {
    const data: Stops = getters['stops']
        .filter((el: StopId) =>
            (el.toLowerCase())
                .includes((searchPhrase.value.toLowerCase()))
        )
    if (sortOrder.value === 1) {
        return data.toSorted((a: StopId, b: StopId) =>
            a.localeCompare(b, "pl", { sensitivity: "base" })
        )
    }
    return data.toSorted((a: StopId, b: StopId) =>
        a.localeCompare(b, "pl", { sensitivity: "base" })
    ).toReversed()
})


</script>
