<template>
<div class="header-container">
  <h6>
    <slot/>
  </h6>
</div>
</template>

<style scoped>
.header-container {
  padding: var(--paddings)
}
</style>
<style>
.header-container h5 {
  font-weight: 900;
}

</style>