<script setup lang="ts">
import { defineEmits, defineProps, ref, watch } from 'vue'

const props = defineProps<{
  modelValue: 1 | -1
}>()
const emit = defineEmits<{
  'update:model-value': [value: 1 | -1]
}>()
watch(() => props.modelValue, (value) => {
    sortOrder.value = value
})
const sortOrder = ref<1 | -1>(1)
const toggleSort = () => {
    sortOrder.value = sortOrder.value === 1 ? -1 : 1
    emit('update:model-value', sortOrder.value)
}
</script>

<template>
  <div class="cursor-pointer p-2 list-sort-toggler" @click="toggleSort">
    <div class="d-flex justify-content-start">
      <span>Bus Stops</span>
      <div class="toggle-arrows d-flex flex-column justify-content-center align-items-center">
        <div class="toggle-arrow-top" :class="{'sort-active': sortOrder === -1 }"></div>
        <div class="toggle-arrow-separator"></div>
        <div class="toggle-arrow-bottom" :class="{'sort-active': sortOrder === 1 }"></div>
      </div>
    </div>
  </div>

</template>

<style scoped>
.cursor-pointer {
  cursor: pointer;
}

.toggle-arrows {
  width: 1.5rem;
}

.toggle-arrow-top {
  height: 5px;
  width: 5px;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-bottom: 5px solid #909090;
}

.toggle-arrow-top.sort-active {
  border-bottom: 5px solid var(--bs-primary);
}

.toggle-arrow-bottom {
  height: 5px;
  width: 5px;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid #909090;
}

.toggle-arrow-bottom.sort-active {
  border-top: 5px solid var(--bs-primary);
}

.toggle-arrow-separator {
  height: 2px;
}
.list-sort-toggler:hover {
  background-color: #f8f9fa;
}

</style>
