<script setup lang="ts">
import { useStore } from 'vuex'
import { computed } from "vue";

const { dispatch, getters } = useStore()
dispatch('fetchStops')
const fetchingState = computed(() => getters['fetchingState'])
</script>
<template>
  <main role="main" class="d-flex flex-column justify-content-start">
    <header>
      <h3>Stops Board</h3>
    </header>
    <template v-if="fetchingState !== 'error'">
      <nav class="card border-light bg-white">
        <ul class="nav">
          <li class="nav-item">
            <RouterLink class="nav-link" aria-current="page" :to="{ name: 'bus-lines' }">
              Lines
            </RouterLink>
          </li>
          <li class="nav-item">
            <RouterLink class="nav-link" aria-current="page" :to="{ name: 'stops' }">
              Stops
            </RouterLink>
          </li>
        </ul>
      </nav>
      <router-view></router-view>
    </template>
    <template v-else>
      <div class="alert alert-danger" role="alert">
        <h4 class="alert-heading">Error</h4>
        <p>There was an error fetching the data. Please try again later.</p>
      </div>
    </template>
  </main>
</template>
<style scoped>
main {
  height: 100vh;
  margin: 0;
  padding: 3rem;
}

.nav-link {
  font-weight: bold;
  padding: 1.5rem;
  text-decoration: none;
  width: 100%;
  color: grey;
  text-align: center;
}

.nav-link.router-link-active:not(:hover) {
  color: black;
}

.nav-link.router-link-active {
  border-bottom: 2px solid var(--bs-nav-link-color);
}
</style>
